<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="asset/confirmation.css" defer/>
    <script src="asset/confirmation.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <title>Confirmation Page</title>
  </head>
  <body>
    <div class="header">
      <img
        src="asset/Group 3.png"
        style="width: 200px"
        onclick="window.location.href='/';"
      />
      <h2>Order Confirmation Form</h2>
    </div>
    <div class="info">
      <div>
        <div class="form">
          <h1 id="noMeja">Table #<%= noMeja %></h1>
          <div class="data">
            <div class="text">
              <p>Hari, Tanggal</p>
              <p>Waktu</p>
              <p>Biaya per Jam</p>
              <% if(!isLogin){ %>
              <label for="email">Email</label>
              <%}  %>
            </div>
            <div class="colon">
              <p>:</p>
              <p>:</p>
              <p>:</p>
              <% if(!isLogin){ %>
                <p>:</p>
              <%}  %>
              </div>
            <div class="val">
              <p id="hari"><%= datas.hari %></p>
              <p id="jam"><%= datas.jam %></p>
              <p id="harga"><%= datas.harga %></p>

              <% if(!isLogin){ %>
              <div class="inputEmail">
                <input type="text" id="email" name="email" required />
                <p>*required</p>
              </div>

              <%}  %>
            </div>
          </div>
          <hr />
          <div class="biaya">
            <p>Total Biaya:</p>
            <p><%= datas.harga %></p>
          </div>
        </div>
        <div class="button">
          <button id="cancel">Cancel</button>
          <button id="confirm">Confirm</button>
        </div>
      </div>
    </div>
  </body>
</html>
