<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/home_admin.css" />
    <title>Home Admin</title>
    <script src="https://kit.fontawesome.com/d53ca09937.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Karantina&family=Poppins&family=Roboto&display=swap"rel="stylesheet"/>
    <script src="asset/home_admin.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="header">
        <img
          src="asset/Group 3.png"
          style="width: 200px"
          onclick="window.location.href='/';"
        />
        <div class="judul">TABLE MANAGEMENT PAGE</div>
        <i class="fa-regular fa-user fa-xl" onclick="window.location.href='/profilePic';"></i>
    </div>
    <main>
        <div class="button">
            <% if(tables.length >= 16){ %>
            <button id="fullTable">Table is Full!</button>
            <%} else{%>
            <button onclick="openForm()">Add Table</button>
            <%}%>
            <button onclick="window.location.href='/reportRange';">Report</button>
            <button onclick="window.location.href='/listMem';">Update Member</button>
            <button onclick="openForm3()">Update Price</button>
        </div>
        <div class="tables">
            <%for(let i = 0; i < tables.length; i++){%>
                <% if(tables[i].statusMB==1){ %>
            <div class="table">
                <p id="click" onclick="openForm4('<%=tables[i].noMeja%>')">Table #<%=tables[i].noMeja%></p>
                <i  class="fa-solid fa-trash" onclick="openForm2('<%=tables[i].noMeja%>')"></i>
            </div>
            <% } else {%>
                <div class="tableR">
                    <p id="click" onclick="openForm5('<%=tables[i].noMeja%>')">Table #<%=tables[i].noMeja%></p>
                    <i  class="fa-solid fa-trash" onclick="openForm2('<%=tables[i].noMeja%>')"></i>
                </div>
                <% } %>
            <% } %>
        </div>
    </main>

    <div id="popupForm" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm()">&times;</span>
            <div class="del">
                <%let pos = tables.length + 1;
                let lastMeja = 0
                for(let i = 0; i < tables.length; i++){
                    if(tables[i].noMeja - lastMeja != 1){
                        pos = lastMeja + 1; 
                        break;
                    }
                    lastMeja = tables[i].noMeja;
                }%>
                <h2>Add Table#<%=pos%>?</h2>
                <input type="text" name="newTable" style="display: none;" value="<%=pos%>">
                <div class="but">
                    <button class="button-pop" onclick="closeForm()">Cancel</button>
                    <button class="button-pop" id="submit1" value="<%=pos%>">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div id="popupForm2" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm2()">&times;</span>
            <div class="del">
                <h2>Are You Sure Want to 
                    Delete This Table?</h2>

                <div id="err"></div>
                <div class="but">
                    <button class="button-pop" onclick="closeForm2()">Cancel</button>
                    <button class="button-pop" id="submit2" onclick="submitForm2()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div id="popupForm3" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm3()">&times;</span>
            <div class="form">
                <h2>Update Price</h2>
                <form method="post" action="updatePrice">
                    <div class="b">
                        <p>Last Price: <%=currHarga%></p>
                        <label for="harga" id="newPrice">New Price</label>
                        <input type="text" name="harga"  id="harga">
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <div id="popupForm4" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm4()">&times;</span>
            <div class="del">
                <h2>Are You Sure Want to 
                    Repair This Table?</h2>

                <div id="err"></div>
                <div class="but">
                    <button class="button-pop" onclick="closeForm4()">Cancel</button>
                    <button class="button-pop" id="submit2" onclick="submitForm4()">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div id="popupForm5" class="popup-form">
        <div class="popup-content">
            <span class="close-btn" onclick="closeForm5()">&times;</span>
            <div class="del">
                <h2>Are This Table Finish Repair?</h2>

                <div id="err"></div>
                <div class="but">
                    <button class="button-pop" onclick="closeForm5()">Cancel</button>
                    <button class="button-pop" id="submit2" onclick="submitForm5()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>